/*CSS Coding Start*/

@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);

/*Universal Styles*/

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    cursor: url(http://www.zingerbugimages.com/cursors/tuxedo_cat.ani), url(http://www.zingerbug.com/cursors/cursors/tuxedo_cat.gif), progress !important;
    width: 100%;
}

/*Grid Layout Styles*/

#parent{
    display: grid;
    background-color: #f5f5f5;
    grid-template-columns: 50px repeat(7, 1fr);
    grid-template-rows: 100px 400px 1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

/*Header Styles*/

header{
    grid-area: hd;
}

#navbar{
    text-align: center;
}

#navlinks{
    background-color: #bcd2ee;
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.navigation{
    display: inline-flex;
    border-width: 4px;
    border-color: #832161;
    border-style: double;
    padding: 10px;
    margin: 7px;
    font-family: "Raleway", sans-serif;
    font-size: small;
    font-weight: 600;
    transition-duration: 200ms;
}

.navigation:hover{
    border-color: #bcd2ee;
    border-width: 2px;
    background-color: #832161;
}

a{
    text-decoration: none;
    color: #141414;
    transition-duration: 200ms;
}

a:hover{
    color: #f5f5f5;
    letter-spacing: 0.1rem;
}

#half-hero{
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/cat_basket.jpg);
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#hero-text{
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin: 20px 0;
}

h1{
    font-family: "Patrick Hand", sans-serif;
    font-size: 48px;
    color: #f5f5f5;
    margin: 5px;
    padding: 10px;
}

/*Body Styles*/

#sidebar{
    grid-area: sd;
    background-color: #9b7ede;
    padding: 15px;
    transition-duration: 200ms;
}

h2{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: #f5f5f5;
    text-align: center;
    border-top: double;
    border-bottom: double;
    border-color: #f5f5f5;
    border-width: 4px;
    margin: 25px auto 50px;
}

#sidenav{
    padding: 0;
}

.sidenavlinks{
    border-top: double;
    border-bottom: double;
    border-color: #f5f5f5;
    border-width: 4px;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    font-family: "Patrick Hand", sans-serif;
    font-size: 20px;
    text-align: center;
}

main{
    grid-area: main;
}

article{
    background-color: #832161;
}

h3{
    padding: 15px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: #f5f5f5;
    font-weight: 400;
}

#content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img info"
    "blog blog";
    justify-items: center;
}

#author-photo{
    grid-area: img;
    margin: 5px;
    border-width: 4px;
    border-color: #bcd2ee;
    border-style: inset;
    height: 250px;
    width: 250px;
    background-image: url(assets/alix_photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

figcaption{
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: small;
}

#info{
    grid-area: info;
    margin: 5px;
    border-width: 4px;
    border-color: #bcd2ee;
    border-style: inset;
    height: 250px;
    width: 250px;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #141414;
    padding: 5px;
}

blockquote{
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: small;
}

ul{
    padding: 0;
    align-items: center;
}

li{
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

.name{
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.title{
    font-size: 15px;
    font-style: italic;
}

.company{
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.bio{
    font-size: 17px;
    font-style: italic;
}

#blog{
    margin: 5px;
    grid-area: blog;
}

#blog-content{
    color: #141414;
    text-align: justify;
    font-size: 25px;
    margin: 5px;
}


/*Footer Styles*/

footer{
    background-color: #141414;
    grid-area: ft;
    padding: 15px;
    margin: 0;
    text-align: center;
}

p{
    padding: 0;
    margin: 0;
    font-family: "Patrick Hand", sans-serif;
    color: #f5f5f5;
    font-size:x-large;
}

#footnav{
    padding: 10px;
    margin: 0;
}

.footnavlinks{
    border-top: double;
    border-bottom: double;
    border-width: 4px;
    border-color: #832161;
    list-style-type: none;
    display: inline;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    font-weight: 500;
    margin: 10px;
    padding: 0;
}

.links{
    color: #832161;
    transition-duration: 200ms;
    padding: 0 20px;
}

.links:hover{
    color: #f5f5f5;
    letter-spacing: 0.1rem;
    background-color: #832161;
    padding: 0 20px;
}

/*Media Queries*/

@media screen and (max-width: 480px) {
    #parent{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
    }

    #content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "img"
        "info"
        "blog";
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
    #parent{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "ft ft ft ft";
    }

    #content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "img"
        "info"
        "blog";
    }
}


@media screen and (min-width: 901px) {
    #parent{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }

    #content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "img info"
        "blog blog";
    }
}
