/*Start CSS Coding*/

/*Universal Style*/

*{
    box-sizing: border-box;
}


/*Grid Style*/

.container{
    border: 1px solid black;
    /*height: 95vh;*/
    /*width: 95vw;*/
    display: grid;
    background-color: lightgoldenrodyellow;
    grid-template-columns: 50px repeat(7, 1fr);
    grid-template-rows: 100px 400px 1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
}


/*Header*/

header{
    border: 2px solid darkgreen;
    grid-area: hd;
}

nav{
    border: 1px solid darkgoldenrod;
}

.navigation{
    border: 1px solid darkcyan;
}


/*Body*/

main{
    border: 2px solid darkred;
    grid-area: main;
}

aside{
    border: 2px solid purple;
    grid-area: sd;
}

h3{
    border: 1px solid yellowgreen;
}

.sidenav{
    border: 1px solid darkcyan;
}

article{
    border: 2px solid blueviolet;
}

.content{
    border: 1px solid yellow;
}

h2{
    border: 1px solid black;
}


/*Footer*/

footer{
    border: 2px solid brown;
    grid-area: ft;
}

p{
    border: 1px solid black;
}

.footnav{
    border: 1px solid coral;
}


/*Media Queries*/

@media screen and (max-width: 480px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "ft ft ft ft";
    }
}

@media screen and (min-width: 901px) {
    .container{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}