/*Start CSS Coding*/

/*Header*/

*{
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    display:grid;
    height:95vh;
}

header{
    border: 1px solid darkgreen;
}

h1{
    border: 1px solid black;
}

nav{
    display: grid;
    border: 1px solid darkgoldenrod;
}

.navigation{
    border: 1px solid darkcyan;
}


/*Body*/

main{
    border: 2px solid darkred;
}

aside{
    border: 2px solid purple;
}

h3{
    border: 1px solid yellowgreen;
}

.sidenav{
    border: 1px solid darkcyan;
}

article{
    border: 2px solid blueviolet;
}

.content{
    border: 1px solid yellow;
}

h2{
    border: 1px solid black;
}

footer{
    border: 2px solid brown;
}

p{
    border: 1px solid black;
}

.footnav{
    border: 1px solid coral;
}


/*Media Queries*/

@media screen and (max-width: 320px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "ft ft ft ft";
    }
}

@media screen and (min-width: 901px) {
    .container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}