@import url("/styles/header_styles.css");
@import url("/styles/body_styles.css");
@import url("/styles/footer_styles.css");
@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    cursor: url(http://www.zingerbugimages.com/cursors/tuxedo_cat.ani), url(http://www.zingerbug.com/cursors/cursors/tuxedo_cat.gif), progress !important;
    width: 100%;
}

/*Grid Layout Styles*/

#parent{
    display: grid;
    background-color: #f5f5f5;
    grid-template-columns: 50px repeat(7, 1fr);
    grid-template-rows: 100px 400px 1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

/*Media Queries*/

@media screen and (max-width: 480px) {
    #parent{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
    #parent{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "ft ft ft ft";
    }
}

@media screen and (min-width: 901px) {
    #parent{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}